<ion-header>
  <ion-toolbar>
    <ion-title>BPC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content class="ion-padding">
    <h1>Benefício de Prestação Continuada</h1>

    <p>O Benefício de Prestação Continuada – BPC, previsto na Lei Orgânica da Assistência Social – LOAS,  Além da renda de acordo com o requisito estabelecido, as pessoas com deficiência também passam por avaliação médica e social no Instituto Nacional do Seguro Social (INSS).</p>
    <p>O beneficiário do BPC, assim como sua família, deve estar inscrito no Cadastro Único. Isso deve ser feito antes mesmo de o benefício ser solicitado. Sem isso, ele não pode ter acesso ao BPC. </p>
    <p>O requerimento do BPC é realizado nos canais de atendimento do INSS - pelo telefone 135 (ligação gratuita de telefone fixo) ou pelo site ou aplicativo de celular “Meu INSS” . Pode ser feito, também, nas Agências da Previdência Social (APS). </p>
    <p>A gestão do BPC é feita pelo Ministério da Cidadania, por meio da Secretaria Nacional de Assistência Social (SNAS), que é responsável pela implementação, coordenação, regulação, financiamento, monitoramento e avaliação do benefício. A operacionalização é realizada pelo Instituto Nacional do Seguro Social (INSS).</p>
    <p>A lista de beneficiários e os pagamentos mensais do BPC estão disponíveis para consulta por meio do Portal da Transparência, em “Benefícios ao Cidadão”. </p>
    <p>Os beneficiários do BPC também recebem descontos nas tarifas de energia elétrica, pela Tarifa Social de Energia. </p>

  </ion-content>
</ion-content>
