<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Direitos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Direitos</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ul>
        <li><a href="bpc">BPC</a></li>
        <li><a href="auxdoen">Auxílio Doença</a></li>
        <li><a href="aposen">Aposentadoria </a></li>
        <li><a href="transporte">Transporte </a></li>
        <li><a href="imposto">Isenção no Imposto de Renda </a></li>
        <li><a href="concurso">Concurso Público </a></li>
        <li><a href="automoveis">Compra de Automóveis </a></li>
        <li><a href="cotas">Cotas </a></li>
      </ul>
    </ion-card-content>
  </ion-card>


</ion-content>
